<gallery>< img>{width: 100%;}
# menu{width 100%
height40pxj
background-colour:cornflower bluej
padding top:12px}
#menu a{colour:#ffffffj
font-family:Helveticalsans-sherifj
font-size:18pxj
text-decoration:nonej
font-weight:800px
padding left:20pxj
padding right:20pxj}
#menu a hover{colour:#5077bd

